@import "./base.css";

:root {
  --topbar-height: 60px;
}

#app {
  margin: 0 auto;
  padding: calc(var(--topbar-height) + 2rem) 2rem 2rem 2rem;
  font-weight: normal;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  overflow: scroll;
}

.container-c {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  /* wtf? */
  height: calc(100vh - var(--topbar-height) - 4rem - 61.406px);
  justify-content: center;
}

.monospace {
  font-family: ui-monospace, "Jetbrains Mono", "Maple Mono NF CN", "Cascadia Code",
    "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  user-select: all;
}
